
@{
    ViewBag.Title = "Index";
    List<ApplicationStudent.Models.Department>department = ViewBag.dept;
}

<h2>Index</h2>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>StudentID</th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Email Address</th>
                <th>Department Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

