.box{
    width: 500px;
    height: 600px;
    margin-top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    background-color: rgb(6, 27, 36);
    border-radius: 5%;
}

body{
    margin: 0;
    padding: 0;
    height: 50%;
    background-image: url(background.jfif);
    background-size: cover;
    background-position: center;
}
.box p{
    font-size: 16px;
    font-weight: 100;
    font-family: sans-serif;
}
.box input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }