* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    background-color: #331a00;
    width: 100%;
    height: 50px;
}

.navbar_li {
    float: right;
}

li {
    float: left;
}

li a {
    color: cornsilk;
    text-align: center;
    display: block;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-family: cursive;
    font-size: large;
    font-weight: 300;
}

body {
    margin: 0;
    background-image: url(back.jpg);
}

.registrationBox {
    width: 900px;
    height: auto;
    background: rgb(12, 3, 0);
    opacity: 0.7;
    column-count: 2;
    column-gap: 28px;
    color: #fff;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 22px;
    padding-right: 24px;
    padding-left: 24px;
    transform: translate(25%, 10%);
    position: relative;
}

.astreik_mark {
    color: red;
}

input[type=text],
input[type=password],
input[type=email],
select {
    width: 40%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: right;
}

input[type=checkbox] {
    height: 18px;
    width: 18px;
}

.gender_select {
    float: right;
}

h3 {
    color: #fff;
    font-family: cursive;
    margin-left: 50px;
}

textarea {
    width: 200px;
    height: 41px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 300;
    font-family: cursive;
}

.fieldset-style {
    border: none;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

h1 {
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: -27px;
}

.captcha {
    background-color: black;
    opacity: 0.7;
    width: 900px;
    padding: 5px;
    margin: 54px;
    margin-left: 225px;
    margin-top: 53px;
}

.checkboxstyle {
    height: 15px;
    width: 15px;
}

.button-for-captcha {
    text-align: center;
}

.verify-button {
    background-color: blanchedalmond;
    color: black;
    margin-left: 25px;
    font-family: cursive;
    font-weight: 500;
    margin-top: 7px;
    padding: 5px;
    width: 20%;
    display: inline-table;
}

.para-for-captcha {
    color: white;
    margin-left: 360px;
    font-family: cursive;
    font-weight: 300;
}

#submitButton button {
    background-color: olive;
    color: white;
    padding: 18px 30px;
    width: 50%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 27%;
    margin-right: 22%;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: cursive;
    opacity: 0.7;
}

#submitButton button:hover {
    background-color: #45a049;
}

#userResult {
    padding: 5px;
    margin-right: 360px;
    width: 20%;
}

p #result {
    margin-left: 382px;
}