
@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>


<h3>@Html.ActionLink("Add New Student", "Create", "Student")</h3>
<h3>@Html.ActionLink("See All Students", "Index","Student")</h3>
<h3>@Html.ActionLink("Add New Department", "Create", "Department")</h3>
<h3>@Html.ActionLink("See All Departments", "Index", "Department")</h3>



