* {
    box-sizing: border-box;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    background-color: #331a00;
    width: 100%;
    height: 50px;
}

.navbar-li-right {
    float: right;
    clear: none;
}

.navbar-li {
    float: left;
    clear: both;
}

li a {
    color: cornsilk;
    text-align: center;
    display: block;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-family: cursive;
    font-size: large;
    font-weight: 300;
}

body {
    margin: 0;
    background-image: url(background.jpg);
}

.registrationBox {
    width: 100%;
    height: auto;
    background: rgb(103, 96, 94);
    opacity: 0.95;
    column-count: 2;
    column-gap: 28px;
    color: #fff;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-top: 22px;
    padding-right: 24px;
    padding-left: 24px;
    border: 12px solid;
    border-color: silver
}

.astreik-mark {
    color: red;
    font-size: medium;
}

#pRequired {
    margin: 70px 0 10px;
    color: yellow;
    font-size: 14px;
}

.txt-input-field {
    width: 50%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    resize: vertical;
    float: left;
    clear: both;
    margin-left: 20%;
    background: wheat;
    border-color: black;
    color: slateblue;
}

#lgdContactDetails {
    padding-top: 0px;
}

.lbl-checkbox {
    margin-top: -75px;
    margin-left: 11px;
    font-size: large;
    font-weight: 400;
    font-family: cursive;
}

.gender-select {
    float: right;
    margin-left: -2px;
    font-family: cursive;
    font-size: larger;
}

.heading-h3 {
    color: #fff;
    font-family: cursive;
    margin-left: 50px;
}

#txtAddress {
    width: 50%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    resize: vertical;
    float: left;
    clear: both;
    margin-left: 20%;
    background: wheat;
    border-color: black;
    color: slateblue;
}

 ::placeholder {
    color: slateblue;
}

.label-for-field {
    padding: 12px 12px 12px 0;
    font-weight: 300;
    font-size: larger;
    font-family: cursive;
    margin-left: 34px;
    margin-bottom: 10px;
    float: left;
    clear: both;
}

.fieldset-style {
    border: none;
}

.lbl-gender {
    float: left;
    clear: none;
    display: block;
    padding: 0px 3em 0 0;
    margin: 18px;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    margin-right: -30px;
    clear: none;
    float: left;
    clear: none;
    margin: 18px 4px 12px -21px;
}

.heading-h1 {
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    color: rgb(119, 48, 26);
    margin-top: 21px;
    margin-bottom: -27px;
}

.captcha {
    background-color: rgb(103, 96, 94);
    opacity: 0.95;
    width: 100%;
    height: 255px;
    padding: 5px;
    margin-top: 0px;
    border: 12px solid;
    border-color: silver;
}

.checkbox-style {
    height: 18px;
    width: 18px;
    margin-right: -25px;
    float: left;
    clear: none;
    margin: 16px 10px 0;
}

.button-for-captcha {
    text-align: center;
}

.verify-button {
    background-color: blanchedalmond;
    color: black;
    margin-left: 25px;
    font-family: cursive;
    font-weight: 500;
    margin-top: 7px;
    padding: 5px;
    width: 20%;
    display: inline-table;
}

.para-for-captcha {
    color: white;
    font-family: cursive;
    font-weight: 300;
    margin-left: 46%;
    margin-right: 30%;
    float: left;
    clear: both;
    font-size: larger;
}

#submitButton button {
    background-color: #138e19;
    color: white;
    padding: 18px 30px;
    width: 50%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 27%;
    margin-right: 22%;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: cursive;
    opacity: 0.7;
}

#submitButton button:hover {
    background-color: #45a049;
}

#userResult {
    padding: 5px;
    margin-right: 335px;
    width: 35%;
    margin-top: -30px;
    font-size: smaller;
    border-radius: 5px;
}

p #result {
    margin-left: 382px;
}

.error-inline {
    margin-left: 30%;
    clear: both;
    color: red;
}